body{
    font-family: 'Poppins', sans-serif;

    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 150px;
}

.half{
    width: 50%;
    padding-left: 2%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half img{
    width: 80%;
}
.bgimgheader{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.middel{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadowa{
    box-shadow:  10px 10px 40px gray;
    margin: 0 5%;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 8px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1;
}
.shadowb{
    box-shadow:  10px 10px 40px  gray;
    margin: 0 5%;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 8px solid;
    border-image: linear-gradient(#00a2ff, #0c279f) 30;
    border-image-slice: 1;
}
.footer{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#copyright{
    text-align: center;
    color: gray;
}